{{ define "main" }}
<article>
  <!-- TODO: Find out how to differentiate between list and single view. -->
  {{ if in .Site.Params.contentTypesWithDate .Type }}
    <div class="nar-row">
      {{ partial "article-title.html" . }}
      {{ partial "article-metadata.html" . }}
    </div>
  {{ end }}
  <section class="row article-content">
    {{ .Content }}
  </section>
  {{ partial "article-related.html" . }}
</article>
<!-- TODO: Quick hack to exclude the below from /about -->
{{ if not (in .RelPermalink "/about") }}
<section>
<script type="text/javascript">
  nuffnang_bid = "5453f7f74016d143cbae2ebbea4ed771";
  document.write( "<div id='nuffnang_lr'></div>" );
  (function() {
          var nn = document.createElement('script'); nn.type = 'text/javascript';
          nn.src = '//synad3.nuffnang.com.sg/lr.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(nn, s.nextSibling);
  })();
</script>
</section>
{{ end }}
{{ end }}
